.bg-canvas {
    background-color: #929294;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 50px;
}
.game-holder{
    width: 50%;
    margin: 0 auto;
}

#scorecardHeroes{
    background-color: #929294;
    opacity: 0.8;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}

input{
    border: 1px solid #15aeec;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

button {
    border: 1px solid #15aeec;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: #FFFFFF;
    background-color: #da4c12;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#49c0f0, endColorstr=#2CAFE3);
}

button:hover{
    border: 1px solid #1090c3;
    background-color: #F07949;
}

.content{
    padding: 100px;
    height: 700px;
    background-image:url('../images/background.jpg');
    background-repeat: no-repeat;
}
/*Visit form styles*/
form.visit{
    padding: 20px;
    width: 330px;
    margin: 0 auto;
    border: 1px solid #1090c3;
    border-radius: 3px;
    background-color: #3386a8;
}