<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.createjs.com/easeljs-0.8.1.min.js"></script>
    <script src="https://code.createjs.com/tweenjs-0.6.1.min.js"></script>
    <script src="static/js/app.js"></script>
    <link rel="stylesheet" href="static/css/style.css"/>
    <title>{% block title %}{% endblock %} - Simple Commander</title>
    {% block head %}
    {% endblock %}
</head>
<body onload="init();">
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}
    {% endblock %}
</div>
</body>
</html>