{% extends "base.html" %}
{% block title %}Index Page{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <canvas class='bg-canvas' id="gameCanvas" width="0" height="0"></canvas>
    <form id="formStartGame">
        <input type="text" id="heroName" required></input>
        <button type="submit">Set name and start</button>
    </form>
    <table id="scorecardHeroes">
        <thead>
            <tr>
                <th>png</th>
                <th>Name</th>
                <th>Hits</th>
                <th>Deaths</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}